body{
    background-color: grey;
}

.ms_number{
    font-size: 100px;
    background-color:lightcoral;
}

.displaynone{
    display: none;
}

.ms_numberUtente{
    font-size: 100px;
    background-color:lightcyan;
}
